body {
    margin: 0px;
    background-color: #E6E6E6;
    font-family: 'comfortaa';
}

/* Left section of top container */

.top-container {
    /* border: 2px solid red; */
}
.intro-left {
    float: left;
    width: 49%;
    margin: 0 auto;
    /* border: 2px solid red; */
    padding: 0 auto;
    height: 100vh;
}

.profile-picture {
    width: 50%;
    display: block;
    margin: 20% auto;
}

/* Right section of top container */

.intro-right {
    background-color:#B7DEE8 ;
    float: right;
    width: 50%;
    /* border: 2px solid red; */
    text-align: center;
    height: 100vh;
}

.intro-header {
    font-size: 60px;
    font-weight: 700;
    margin: 30% auto 5% auto;
}


.intro-blog {
    margin: 25% auto 5% auto;
    text-decoration: none;
    color: black;

}

.intro-blog:hover {

    opacity: 0.5;
}

.arrow {
    position: relative;
    width: 40px;
    animation-name: hop;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
}

@keyframes hop {
    0% {
        top: 0px;
    }
    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }

}

/* Blog container */

.about-me {
    float: left;
    text-align: center;
    width: 100%;
 
}

.about-me-header {
    padding-top: 100px;
}

.about-me p {
    
    width: 40%;
    margin: 0 auto;
    padding: 20px 20px 100px 20px;
}


.blog-container {
    background-color:#B7DEE8;
    float: left;
    width: 33%;
    height: 20%;
    padding: auto;
    text-align: center;
}

.blog-container li {
    position: relative;
    right:20px;
    list-style: none;
    font-size: 30px;
    padding: 25px;
    margin: 0 auto;
    color: #000000;
}

.blog-container a {
    text-decoration: none;
    color: #000;
}


.cultural-container {
    
    float: left;
    width: 33%;
    height: 20%;
    padding: auto;
    text-align: center;
}

#cultural-header {
    padding: 50px 100px 50px 100px;
    margin: 0 auto;
}

.cultural-container li {
    position: relative;
    right:20px;
    list-style: none;
    font-size: 30px;
    padding: 25px;
    margin: 0 auto;
    color: #000000;
}

.cultural-container a {
    text-decoration: none;
    color: #000;
}

.reflections-container {
    background-color:#B7DEE8;
    float:right;
    margin: 0 auto;
    width: 33%;
    height: 20%;
    padding: auto;
    text-align: center;

}

.reflections-container ul {
    margin: 0 auto;
}

#reflections-header {
    padding: 50px 100px 50px 100px;
    margin: 0 auto;
}

.reflections-container li {
    position: relative;
    right:20px;
    list-style: none;
    font-size: 30px;
    padding: 25px;
    margin: 0 auto;
    color: #000000;
}

.reflections-container a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: 0.5;
}

.socials {
    float: left;
    width: 100%;
}

.github {
    width: 100px;
    margin:50px auto 50px auto;
    display: block;
    
}

.github:hover {
    opacity: 0.5;
}

.no-link {
    opacity: 0;
}
